.categories {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-radius: 10px;
}

.categories__available {
  padding: 10px;
  margin: 10px;
  flex: 1;
}

.categories__available > h2 {
  text-align: center;
}

.categories__available > ul {
  list-style-type: none;
  padding: 0;
}

.categories__available > ul > li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #fff;
  margin: 5px 0;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.categories__add {
  padding: 10px;
  margin: 10px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.categories__add > h2 {
  text-align: center;
}

.categories__add > label {
  align-self: flex-start;
}

.categories__add > input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.categories__add > button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.categories__add > button:hover {
  background-color: #0056b3;
}
