.productDetails {
  width: 100%;
  /* height: 100%; */
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  position: relative;
}

.productDetails__header {
  text-align: center;
  margin-bottom: 20px;
}

.productDetails__header img {
  width: 300px;
  height: 200px;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.productDetails__header h3 {
  margin-top: 10px;
  font-size: 24px;
}

.productDetails__header p {
  font-size: 18px;
  color: #666666;
}

.productDetails__ingredients {
  margin-top: 20px;
}

.productDetails__ingredients h4 {
  font-size: 20px;
  margin-bottom: 10px;
}

.productDetails__ingredients p {
  font-size: 16px;
  line-height: 1.6;
}

.productDetails__button {
  background-color: #ff5722;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.productDetails__button:hover {
  background-color: #e64a19;
}

.productDetails__back {
  position: absolute !important;
  top: 5px;
  left: 4px;
}
