.userhome {
   display: flex;
  /* flex-direction: column;
  position: relative; */ 
  min-height: 100vh;
}

.userhome__sidebar {
  width: 20%;
  padding: 10px;
  background-color: #f5f5f5;
}

.userhome__products {
  width: 80%;
  padding: 10px;
  /* height: 100vh; */
}
